[submodule "challenge-ingestion-and-semantic-search"]
	path = challenge-ingestion-and-semantic-search
	url = git@github.com:AlexandreJareck/challenge-ingestion-and-semantic-search
[submodule "pull-prompt-optimization-and-evaluation"]
	path = pull-prompt-optimization-and-evaluation
	url = git@github.com:AlexandreJareck/pull-prompt-optimization-and-evaluation
[submodule "prompt-engineering"]
	path = prompt-engineering
	url = git@github.com:AlexandreJareck/prompt-engineering
[submodule "introduction-langchain"]
	path = introduction-langchain
	url = git@github.com:AlexandreJareck/introduction-langchain
